@tailwind base;
@tailwind components;
@tailwind utilities;

[dir="ltr"] {
  --text-x-direction: 1;
}

[dir="rtl"] {
  --text-x-direction: -1;
}

:root {
  --navbar-height: 3.5625rem;
}

@layer utilities {
  .mirror {
    transform: scaleX(var(--text-x-direction));
  }
}

@layer utilities {
  .scrollbar-hide {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
